<app-navigation></app-navigation>

<router-outlet></router-outlet>


<div class="container-fluid text-center my-4 bg-dark text-white py-5">
    <div class="py-5"></div>

    <h1>System-meldinger</h1>
    <app-messages></app-messages>
    
    <div class="py-5"></div>
</div>






<div class="container-fluid text-center my-4">
    <!-- <h1>{{ title }} <small class="text-muted">{{codename}}</small></h1> -->
    <img src="../assets/logo_lilla.png" style="width:20%;" title="{{title}} {{codename}}">
</div>






<!-- {{ setTitle("Timebuddy - Oversikt") }} -->
