<nav id="tb-main-nav">

    <!-- <div class="row"> -->

            <!-- 
                col-    : < 576px width monitor 
                col-sm- : > 576px
                col-md- : > 768px
                col-lg  : > 992px
                col-xl  : > 1200px
            -->

            <!-- <div class="col-3 bg-timebuddy-purple tb-navbox text-center"> -->
            <div class="col-3 bg-tbpurple text-white tb-navbox text-center">
                <a routerLink="/">
                    <!-- Oversikt -->
                    <i class="fas fa-3x fa-chart-line" title="Oversikt"></i><br><small>Aktiviteter</small>
                </a>
            </div>

            <!-- <div class="col-3 bg-timebuddy-purple tb-navbox text-center"> -->
            <div class="col-3 bg-tbpurple text-white tb-navbox text-center">
                <a routerLink="/tidsstempling">
                    <!-- Stempling -->
                    <i class="fas fa-3x fa-clock" title="Tidsstempling"></i><br><small>Tidsstempling</small>
                </a>
            </div>
            
            <!-- <div class="col-3 bg-timebuddy-purple tb-navbox text-center"> -->
            <div class="col-3 bg-tbpurple text-white tb-navbox text-center">
                <a routerLink="/prosjekter">
                    <!-- Prosjekter -->
                    <i class="fas fa-3x fa-folder-open" title="Prosjekter"></i><br><small>Prosjekter</small>
                </a>
            </div>
            
            <div ngbDropdown class="col-3 bg-tbpurple text-white tb-navbox text-center">
                <a id="dropdownNav1" ngbDropdownToggle>
                    <!-- Flere valg -->
                    <i class="fas fa-3x fa-toolbox" title="Flere valg"></i><br><small>Valg</small>
                </a>
                <div ngbDropdownMenu>
                    <a routerLink="/timeliste"><button class="dropdown-item">Rapporter</button></a>
                    <a routerLink="/firma"><button class="dropdown-item">Firma</button></a>
                    <a routerLink="/innstillinger"><button class="dropdown-item">Innstillinger</button></a>
                    <a routerLink="/loggut"><button class="dropdown-item">Logg ut</button></a>
                </div>
            </div>
            
    <!-- </div> -->

</nav>