.tb-navbox {
    padding:20px 0px;
    color:#fff;
}

.tb-navbox a {
    color:#fff;
    cursor:pointer;
    /* text-transform: uppercase; */
    transition: 0.3s ease;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    padding: 20px 0;
    /* border-top: 4px solid #ccc;
    border-bottom: 4px solid #ccc; */
}

.tb-navbox a:hover {
    /* border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    padding: 6px 0;  */
    /* color:#eee; */
}

#tb-main-nav button.dropdown-item {
    /* background:red; */
    padding:20px;
    width:300px;
    padding-left:-250px;
}